# Created by .ignore support plugin (hsz.mobi)
.idea/
ConfigClient/target
ConfigClient/ConfigClient.iml
ConfigServer/target
ConfigServer/ConfigServer.iml
EurekaClient/target
EurekaClient/EurekaClient.iml
EurekaServer/target
EurekaServer/EurekaServer.iml
FeignSerice/target
FeignSerice/FeignSerice.iml
RibbonService/target
RibbonService/RibbonService.iml
Zipkin/Zipkin.iml
Zipkin/ServiceHi/target
Zipkin/ServiceHi/ServiceHi.iml
Zipkin/ServiceMiya/target
Zipkin/ServiceMiya/ServiceMiya.iml
Zipkin/ZipkinServer/target
Zipkin/ZipkinServer/ZipkinServer.iml
ZuulService/target
ZuulService/ZuulService.iml
cloud.iml
